
name: "Unit Tests"

on:
  pull_request:
    branches:
      - "master"
  push:
    branches:
      - "master"

jobs:
  unit-tests:
    name: "Unit Tests"
    continue-on-error: ${{ matrix.experimental }}
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        dependencies:
          - "lowest"
          - "highest"
        php-version:
          - "7.4"
          - "7.3"
          - "7.2"
          - "7.1"
        experimental:
          - false
        include:
          - php-version: "7.4"
            dependencies: "locked"
            experimental: false
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
      - name: "Install dependencies"
        uses: "ramsey/composer-install@v1"
        with:
          dependency-versions: "${{ matrix.dependencies }}"
      - name: "Unit Tests"
        run: "composer test:units"
